 
    {% extends 'hodl_templates/base.html' %}
    {% load static %}
      {% block content %}
<!-- nav side ends-->

<link rel="stylesheet" href="{% static 'hodl_static/about.css' %}">

<!-- main starts -->

    <div class="about-section">
        <div class="overlay">
        <div class="about-text">
            <h3 data-aos="fade up">About Hodlvault</h3>
            <p class="sub-topic" data-aos="fade up">A COMMERCIAL WEBSITE THAT LISTS WALLETS, EXCHANGES AND OTHER BITCOIN RELATED INFO</p>
        </div>
    </div>
    </div>

      <!-- .aboutus -->
      <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img" data-aos="slide-right" data-aos-delay="100">

                        <div class="swiper-container myswiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/young-indian-business-woman-entrepreneur-looking-a-J4DH3KG.jpg' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/ab2.jpg' %}">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/ab3.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 data-aos="slide-left" >About Us</h6>
                    <h4 data-aos="slide-left">WE ARE Hodlvault</h4>
                    <!-- <p class="sub-topic">A COMMERCIAL WEBSITE THAT LISTS WALLETS, EXCHANGES AND OTHER BITCOIN RELATED INFO</p> -->
                   <div class="div" data-aos="slide-left">
                    <p>Since its establishment, Universal-shares has shown
                        commendably successful and consistent performance and trading history. Currently, it is regarded
                        as one of the best, most beneficial, brilliantly successful
                        companies in the industry of forex trading and investing.
                    </p>
                    <p class="">Our mission as you become an official partner of Hodlvault is to help you
                        enter and better understand the world of #1 cryptocurrency and avoid any issues you may
                        encounter.</p>
                    <p class="">We are here because we are passionate about open, transparent markets
                        and aim to be a major driving force in widespread adoption, we are the first and the best in
                        cryptocurrency.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .aboutus -->



    
    <div class="brief-list">
        <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="brief" data-aos="fade-up">
                    
                    <i class="fa fa-coins" aria-hidden="true"></i>
                    <h4>Add coins to Wallet</h4>
                    <p>Add bitcoins you’ve created or exchanged via credit card.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brief" data-aos="fade-up" data-aos-delay="200">
                    <i class="fa fa-handshake" aria-hidden="true"></i>
                    <h4>Buy/Sell with Wallet</h4>
                    <p>Enter receiver's address, specify the amount and send.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brief" data-aos="fade-up" data-aos-delay="200">
                    <i class="fa fa-clock" aria-hidden="true"></i>
                    <h4>24/7 Support</h4>
                    <p>Got a problem? Our support team is available 24/7</p>
                </div>
            </div>

        </div>
    </div>
    </div>


    <div class="right-side">
        <div class="overla" style="background: rgba(0, 0, 0, 0.527);">
    <div class="get-started" data-aos="fade-in" data-aos-delay="500">
        <h3>START TODAY!</h3>
        <p>Open account for free and start trading Bitcoins!</p>
        <button class="btn get-btn my-2 my-sm-0" type="submit">Search</button>
    </div>
</div>
</div>

    <!-- chooseus/get started today -->
    <div class="choose-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-side">
                        <h6 data-aos="slide-right">Exclusive Benefits</h6>
                        <h3 data-aos="slide-right" data-aos-delay="200">You Should Choose Us</h3>
                        <p  data-aos="slide-right" data-aos-delay="200">Hodlvault is committed to give an opportunity to as many traders as possible
                            to invest their money in binary options trading. Our main task is to simplify both the trading
                            and the process of getting a profit. Our team operates to make you successful in trading.
                        </p>

                        <div class="drop-list" data-aos="slide-right">
                            <details>
                                <summary>Complete Transparency</summary>
                                <p>Complete transparency of all transactions. Each trader is in control of his trading account. 
                                    All transactions on our website are completely transparent 
                                    It is designed to meet modern security and trading requirements.</p>
                            </details>
                            <details>
                                <summary>Full time support</summary>
                                <p>Got a problem? Our support team is available 24/7.
                                    We practice an individual approach to each client, which is based on
                                    our attentive treatment of traders, large variety of assets,
                                    large amount of educational materials and a high-quality support.
                                </p>
                            </details>
                        </div>


                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="right" data-aos="slide-up" data-aos-delay="300">
                        <img src="{% static 'hodl_static/images/woman-1.png' %}" alt="">
                    </div>
                

                </div>
            </div>

        </div>
    </div>


    <!-- chooseus -->















      <!-- Footer -->
      {% endblock %}






   