{% extends 'hodl_templates/base.html' %}
{% load static %}
  {% block content %}
    <!-- header-area end -->



    <!-- breadcumb-area start -->
    <div class="breadcumb-area flex-style  black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>FREQUENTLY ASKED QUESTIONS</h2>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- breadcumb-area end -->

    <!-- about-area start -->
    <div class="service-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="service-wrappper">

                        <div class="service-contents">
                            <h3><a href="service-details.html">HOW IT WORKS </a></h3>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">What is Hodlvault Vault? </b> Hodlvault Vault is a one-click earning service for your Hodlvault holdings. It is a capital-guaranteed investment product with an easy-to-use interface. It can help users maximize the income potential of their Hodlvault from both centralized and decentralized finance by integrating various Binance products within the Binance ecosystem. Also, it allows Hodlvault HODLers to maximize the yields and receive all the benefits from every opportunity available. With just one click on Hodlvault Vault, your Hodlvault holdings will be flexibly allocated in different products to help you maximize the potential rewards!.
                                
                                </p>
                            </br>
                              </br>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Why should I use Hodlvault Vault? </b>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                        • Easy to stake.<br>
                                        • Enjoy multiple income earnings from the Binance ecosystem with just one click.<br>
                                        • Flexible redemption whenever you want.<br>
                                        • How to calculate my income benefits?<br>
                                        • Daily Hodlvault Vault Income = New tokens rewarded from Launchpool + Hodlvault Flexible Savings + DeFi Staking & more.<br><br> </p>
                                        
                                    <br>
                                
                                </p>

                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">How to calculate my income benefits?? </b>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                        • Daily Hodlvault Vault Income = New tokens rewarded from Launchpool + Hodlvault Flexible Savings + DeFi Staking & more.<br>
                                        <br>
                                        <p style="font-size:12px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Please Note </b>
                                            <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                                • You can view your Hodlvault Vault assets and income from [Hodlvault Vault] - [Assets & Withdrawals].<br>
                                                • Income is calculated daily and will be distributed to the user’s Spot account.<br>
                                                • The Hodlvault Vault income will begin to accrue interest at 0:00 AM (UTC) on the second day of staking, and the income will be paid from the third day.<br>
                                                • The income from DeFi Staking or other products will be distributed according to the actual income;<br>
                                                • The staked Hodlvault assets in Hodlvault Vault will be deposited in Flexible Savings and are still eligible for Hodlvault holding benefits from the Daily Hodlvault Balance Calculation, such as airdrop, Launchpad holding position, VIP rights, etc.<br><br> </p>
                                                
                                            <br>
                                        
                                        </p>
                                        
                                    <br>
                                
                                </p>


                                
                        </div>

                        <!-- <div class="service-contents">
                            <h3><a href="service-details.html">PURCHASING
                                BITCOIN </a></h3>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">How to Purchase Bitcoin? </b> We advise all bitcoin purchases should be done from verified vendors like <a href="https://www.coinmama.com" style="color: #1f0547;">coinmama</a>,<a href="https://cash.app/" style="color: #1f0547;"> Cashapp</a>,<a href="https://localbitcoins.com/" style="color: #1f0547;"> Local bitcoin</a> or <a href="https://www.coinbase.com/" style="color: #1f0547;">Coinbase</a>.
                                
                                </p>
                            
                                    <p style="font-size:16px; line-height: 20px; font-family: times;">
                                    </br>
                                    <b style="font-size: 17px; font-family: times; font-weight: bold; color: #1f0547;">How to purchase bitcoin with coinmama?</b></br>
                                    First, create your account.
                                    Head to Coinmama’s sign-up page to create your account. Fill in your first and last name, email address, and country of residence to get started. You’ll receive an email from us with a link to confirm your account. Click the link to start the verification process.
                                </br>
                                <br>
                                    Next, add your personal details.
                                    Complete the requested form, adding your address, phone number, and date of birth.
                                </br>
                                    Coinmama: add your personal details
                            </br> <br>
                                    Finally, upload your documents.
                                    Choose the ID type you want to upload, based on your country of residence. Photograph the front and back with your cell phone camera, making sure all four corners are visible, and that both the image and text are clear, then upload them to your account.
                        </br>  <br>
                                    Coinmama: Upload documents
                                    
                                    Next, write “Coinmama” and today’s date on a piece of paper. Holding the paper and the ID you’ve just uploaded, take a photograph of yourself. Make sure your face, ID, and paper note are all clearly visible. Then upload the photo to your account.
                    </br>  
                                    Coinmama: Upload selfie
                                    
                                    Once your documents are uploaded, click to submit them. A member of our verification team will review your form and documents, and if everything looks ok, you’ll be approved to buy Bitcoin online with Coinmama, often in as little as fifteen minutes.
                </br><BR>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">How to purchase bitcoin with Cashapp?</b> You need to set up your Cashapp, so that you’ll be able to use bitcoin. 
                            
                                    Bitcoin is how you withdraw & deposit your money & exchange it into USD easily.
                                <br>
                                    <p style="font-size:16px; line-height: 20px; font-family: times; ">So do this:</p>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    • Go to cashapp
                                    • Click the bottom left icon Scroll down
                                    • Click the bitcoin icon that’s blue
                                    • Click the words in blue
                                    • Verify your email
                                    • Click “trading”
                                    • Click “occupation” and put “employed”
                                    • Type “manager at foot locker” or whatever store but include manager
                                    • Then it’ll take about 2 hours to get you verified
                                                                        
                                </p>
                                <br>
                                <p  style="font-size:16px; line-height: 20px; font-family: times; ">open the Cash app and select Cash Card, or just tap on the dollar amount at the top of the screen. Then swipe left and you should see the Bitcoin symbol. Tap on “Buy” and select how much money you want to spend using the slider (you can also swipe up to enter a specific amount). Then hit “Buy BTC” and confirm with your password.</p><br>
                                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Now to send:
                                        hit the icon in the top left corner. Then scroll over to Funds and select Bitcoin. To “Enable Withdrawals” you’ll need to prove your identity by answering some questions in the app. Then tap on “Transfer Out,” confirm it, and scan in the QR code for the wallet address you want to send your Bitcoin too. Finally, hit Confirm again to finish, though it could be a few hours before the transfer is processed.</p>
                                        <br>
                                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">OTHER PURCHASING PLATFORMS </b></p> 
                                        <p  style="font-size:16px; line-height: 20px; font-family: times; ">you can also get bitcoin with <a href="https://localbitcoins.com/" style="color: #1f0547;"> Local bitcoin</a> or <a href="https://www.coinbase.com/" style="color: #1f0547;">Coinbase</a> .</p>

                            </p>
                        </div> -->
                        
                    </div>
                </div>
              
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="service-wrappper">
                       
                        <div class="service-contents">
                            <h3>OTHER <br><span>QUESTIONS</span></h3>
                            <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Is there a maximum subscription limit?</b>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    There is no maximum limit.
                                    </p>
                                <br>
                            
                            </p>

                            <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Is Hodlvault Vault a guaranteed investment?</b>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    Yes, it is.
                                    </p>
                                <br>
                            
                            </p>

                            <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">How to calculate my income?</b>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    Daily Hodlvault Vault Income = New tokens rewarded from Launchpool + Hodlvault Flexible Savings + DeFi Staking & more.
                                </p>
                                <p>
                                    For example, a user stakes 100 Hodlvault in Hodlvault Vault, the user will enjoy the following triple benefits:
                                </p>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    • Receive spot income of Hodlvault Flexible Savings every day based on the 100 Hodlvault quota;<br>
                                    • Receive new tokens rewarded from Launchpool based on the 100 Hodlvault quota.<br>
                                    • Receive income from DeFi staking and more, such as from BSC on-chain mining based on the proportion of holdings in the Hodlvault Vault.<br>
                                    </p>
                                    
                                <br>
                            
                            </p>

                            <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">When and where can I check my income?</b>
                                <p style="font-size:16px; line-height: 20px; font-family: times; ">
                                    All rewards will be distributed to the user's Spot Wallet on the next day.
                                    
                                <br>
                            
                            </p>

                </b> 
              
        <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">How much is the estimated APY of Hodlvault Vault?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">The APY will be adjusted according to the actual benefits and the risk level of Hodlvault Flexible Savings, DeFi Staking, Launchpool, and future potential Earn products.</p>

                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Can I redeem the staked Hodlvault in advance?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Yes, the redemption time is flexible.</p>
                <br>
                <p style="font-size:16px; line-height: 20px; font-family: times; "><b style="font-size: 17px; font-weight: bold; color: #1f0547;">Is the staked Hodlvault in Hodlvault Vault included in the Hodlvault Balance Calculation Mechanism?.</p>

                </b> 
                <p  style="font-size:16px; line-height: 20px; font-family: times; ">Yes, the staked Hodlvault in Hodlvault Vault is included in the Hodlvault Balance Calculation Mechanism and is still eligible for Hodlvault holding benefits from the Daily Hodlvault Balance Calculation, such as airdrop, Launchpad holding position, VIP rights, etc.</p><BR>
               
                        </div>
                        
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>


      <!-- how it works -->

    <div class="feature-list">
        <div class="container">
            <div class="centerdiv">
                <h2>Security Tips</h2>
                <div class="row fade-in">
                    <div class="col-lg-6">
                        <div class="feature" data-aos="fade-up">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>EMAIL AND PASSWORD</h5>
                                <p>
                                    Use a unique email address and password for your account. You can use a secure password manager like LastPass or KeePass to easily keep track of your passwords and create more complex, secure passwords.
                                </p>
                            </div>

                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Enable 2FA on your Binance account</h5>
                                <p>
                                    2FA adds an extra layer of protection to your account in case your password is compromised. Read more here.
                                </p>
                            </div>
                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="300">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Domain name</h5>
                                <p>
                                    Always make sure to check the domain address you are visiting: https://www.hodlvault.io
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature" data-aos="fade-up" data-aos-delay="100">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Secure your email account and phone, and use PGP</h5>
                                <p>
                                    Enable fingerprint or passcode lock on your phone, use a secure email provider, and use 2FA for your email account. Whenever possible, use PGP
                                </p>
                            </div>


                        </div>
                        
                        <div class="feature" data-aos="fade-up" data-aos-delay="100">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5> Secure your computer</h5>
                                <p>
                                    Don’t install unnecessary software on your computer, or software from untrusted developers. If possible, consider using a dedicated computer or partition for Binance and trading. We recommend installing Linux, Chrome, a password manager plugin, and nothing else.
                                </p>
                            </div>
                        
                       
                    </div>
                    <div class="feature" data-aos="fade-up" data-aos-delay="300">
                        <div class="feature-image">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                        <div class="feature-text">
                            <h5>Secure your internet connection</h5>
                            <p>
                                Always use a wired connection if possible. If you must use WiFi, consider routing your traffic through a VPN.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <!-- features -->

    
   


    <!-- footer-area start -->
    {% endblock %}