

 
    {% extends 'hodl_templates/base.html' %}
    {% load static %}
      {% block content %}
    <!-- hero starts -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="swiper-container textslide">
                        <div class="swiper-wrapper textwrap">
                            <div class="swiper-slide">
                                <div class="hero-text">
                                    <h3>START BITCOIN TRADING RIGHT NOW</h3>
                                    <p>Just click register and start trading right away.</p>
                                    <button class="hero-btn" href="#">Register</button>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="hero-text">
                                    <h3>DISCOVER AN EASY WAY TO TRADE BTC</h3>
                                    <p>Hodlvault is the easiest place to buy and sell cryptocurrency. Sign up and get started today.</p>
                                    <button class="hero-btn" href="#">Register</button>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="hero-text">
                                    <h3>BUY & SELL CRYPTO IN MINUTES</h3>
                                    <p>Buy and sell popular digital currencies, keep track of them in the one place.</p>
                                    <button class="hero-btn" href="#">Register</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6" >
                    <div class="hero-image">
                        <img src="{% static 'hodl_static/images/woman-1.png'%}" alt="">
                    </div>

                </div>
            </div>

            <div class="brief-list">
                <div class="row">
                    <div class="col-lg-3"  data-aos="fade-up">
                        <div class="brief">
                            <img src="{% static 'hodl_static/images/download-bitcoin.png'%}" alt="">
                            <!-- <i class="fa fa-folder-open" aria-hidden="true"></i> -->
                            <h4>OUR BITCOIN TRADER</h4>
                            <p class="mt-3">Our Bitcoin Trader is a trading software that
                                executes automatic trades 0.01 seconds faster than its competitors.</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-aos="fade-up" data-aos-delay="200">
                        <div class="brief">
                            <img src="{% static 'hodl_static/images/add-bitcoins.png'%}" alt="">
                            <!-- <i class="fa fa-folder-open" aria-hidden="true"></i> -->
                            <h4>Add coins to Wallet</h4>
                            <p>Add bitcoins you’ve created or exchanged via credit card.</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-aos="fade-up"  data-aos-delay="300">
                        <div class="brief">
                            <!-- <i class="fa fa-folder-open" aria-hidden="true"></i> -->
                            <img src="{% static 'hodl_static/images/buy-sell-bitcoins.png'%}" alt="">
                            <h4>Buy/Sell with Wallet</h4>
                            <p>Enter receiver's address, specify the amount and send.</p>
                        </div>
                    </div>
                    <div class="col-lg-3"  data-aos="fade-up"  data-aos-delay="400">
                        <div class="brief">
                            <i class="fa fa-clock" aria-hidden="true"></i>
                            <h4>24/7 Support</h4>
                            <p>Got a problem? Our support team is available 24/7</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- hero ends -->


    <!-- .aboutus -->
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"  data-aos="slide-right" data-aos-delay="200">
                    <div class="about-img">

                        <div class="swiper-container myswiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/young-indian-business-woman-entrepreneur-looking-a-J4DH3KG.jpg'%}">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/ab2.jpg'%}">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{% static 'hodl_static/images/ab3.jpg '%}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                    <h6 data-aos="slide-left">About Us</h6>
                    <h4 data-aos="slide-left" >WE ARE Hodlvault</h4>
                    <!-- <p class="sub-topic">A COMMERCIAL WEBSITE THAT LISTS WALLETS, EXCHANGES AND OTHER BITCOIN RELATED INFO</p> -->
                    <p data-aos="slide-left">Since its establishment, Universal-shares has shown
                        commendably successful and consistent performance and trading history. Currently, it is regarded
                        as one of the best, most beneficial, brilliantly successful
                        companies in the industry of forex trading and investing.
                    </p>

                    <div class="about-nav" data-aos="fade-in" data-aos-delay="300">
                        <ul>
                            <li class="p-link navcol">Our Purpose</li>
                            <li class="v-link">Our Values</li>
                            <li class="g-link">Our Guarantees</li>
                        </ul>
                        <p class="purpose">Bitcoin is based on a protocol known as the blockchain, which allows to
                            create, transfer and verify ultra-secure financial data without interference of third
                            parties. We make it easier for you</p>
                        <p class="values none">Our mission as you become an official partner of Hodlvault is to help you
                            enter and better understand the world of #1 cryptocurrency and avoid any issues you may
                            encounter.</p>
                        <p class="guaran none">We are here because we are passionate about open, transparent markets
                            and aim to be a major driving force in widespread adoption, we are the first and the best in
                            cryptocurrency.</p>
                        <button class="btn about-btn" type="submit">Read More</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .aboutus -->



    <!-- features -->

    <div class="feature-list">
        <div class="container">
            <div class="centerdiv">
                <h2>Features</h2>
                <div class="row fade-in">
                    <div class="col-lg-6">
                        <div class="feature" data-aos="fade-up">
                            <div class="feature-image">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>STRONG SECURITY</h5>
                                <p>
                                    Protection against DDoS attacks,
                                    full data encryption
                                </p>
                            </div>

                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature-image">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>WORLD COVERAGE</h5>
                                <p>
                                    Providing services in 99% countries
                                    around all the globe
                                </p>
                            </div>
                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="300">
                            <div class="feature-image">
                                <i class="fa fa-money-check" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>PAYMENT OPTIONS</h5>
                                <p>
                                    Popular methods: Visa, MasterCard,
                                    bank transfer, cryptocurrency
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature" data-aos="fade-up" data-aos-delay="100">
                            <div class="feature-image">
                                <i class="fa fa-coins" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>COST EFFICIENCY</h5>
                                <p>
                                    Reasonable trading fees for takers
                                    and all market makers
                                </p>

                            </div>


                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature-image">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>HIGH LIQUIDITY</h5>
                                <p>
                                    Fast access to high liquidity orderbook
                                    for top currency pairs
                                </p>
                            </div>
                        </div>
                        <div class="feature" data-aos="fade-up" data-aos-delay="300">
                            <div class="feature-image">
                                <i class="fa fa-user-friends" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h5>Global Freedom</h5>
                                <p>
                                    Our vision is to increase the freedom of money globally.
                                    We believe that by spreading this freedom,
                                    we can significantly improve lives around the world
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features -->


    <!-- packages -->

    <div class="packages" id="packages">
        <div class="container">
            <div class="package-list">
                <div class="head">
                    <h3>OUR AFFORDABLE PACKAGES</h3>
                </div>
                <div class="package-card">

                    <div class="swiper-container flipswipe">
                        <ul>
                            <li class="prev color" id="flipprev">TRADING</li>
                            <li class="next" id="flipnext">EXCLUSIVE</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="swiper-container flipswipe">

                                <div class="swiper-wrapper" data-aos="fade-down">
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Basic</h3>
                                                <p class="mt-5">Get 40% for</p>
                                                <p class="amount">$3000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Silver</h3>
                                                <p class="mt-5">Get 2% for</p>
                                                <p class="amount">$1,500</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="swiper-container flipswipe">

                                <div class="swiper-wrapper" data-aos="fade-down" data-aos-delay="200">
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Standard</h3>
                                                <p class="mt-5">Get 50% for</p>
                                                <p class="amount">$2,000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Gold</h3>
                                                <p class="mt-5">Get 5% for</p>
                                                <p class="amount">$2,000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="swiper-container flipswipe" >

                                <div class="swiper-wrapper" data-aos="fade-down" data-aos-delay="300">
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Premium</h3>
                                                <p class="mt-5">Get 70% for</p>
                                                <p class="amount">$10,000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">PLATINUM</h3>
                                                <p class="mt-5">Get 15% for</p>
                                                <p class="amount">$3,000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="swiper-container flipswipe">

                                <div class="swiper-wrapper" data-aos="fade-down" data-aos-delay="400">
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">Ultimate</h3>
                                                <p class="mt-5">Get 80% for</p>
                                                <p class="amount">$20,000</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">

                                                <h3 class="card-title">DIAMOND</h3>
                                                <p class="mt-5">Get 25% for</p>
                                                <p class="amount">$4,500</p>

                                                <button class="btn card-btn mt-5">ORDER NOW</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- packages -->

  

    <!-- testimonials -->

    <div class="testimony-section mb-5">
        <div class="container">
            <h6>TESTIMONIALS FEEDBACK</h6>
            <h3>WHAT OUR CLIENTS THINKS</h3>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p> It is unbelivable. I was able to have $300,000 worth of bitcoin in just 3months and half 
                                        of trading with hodlvault. I came across some nice comments about them on YouTube and I gave it a shot! I didn't believe in bitcoin before. 
                                        This is quite needful for beginners</p>
                                    <blockquote>-James Owen</blockquote>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p> Bitcoin is one of the most important inventions in all of human history. Now,
                                        anyone can send or receive any amount of money with anyone else using hodlvault anywhere on the planet,
                                        conveniently and without restriction. It’s the dawn of a better, more free world..</p>
                                    <blockquote>-Ruth Williams </blockquote>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p> Life has been great since i started using Hodlvault. I have a house, a car , an office and investment.</p>
                                    <blockquote>-Eric Wong</blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p> Anybody that recommended hodlvault God bless you. 
                                        You know there are a lot of brokers these days, so if not careful you
                                        might be ripped but knowing hodlvault as a newbie is the best thing ever. 
                                        I love their strategy and methods. 
                                        There’s more to the system than I imagined.</p>
                                    <blockquote>-Miranda Alba</blockquote>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p>Thanks to you all for your testimonies, it has helped me greatly. 
                                        I thought they were not real but I will now boldly testify that hodlvault is the best there is.</p>
                                    <blockquote>-Tobias</blockquote>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="testimony">
                                    <p> This is too legit. I advice you register right now! so that you can enjoy what we are enjoying</p>
                                    <blockquote>-Ahmed</blockquote>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
            </div>



        </div>
    </div>
    <!-- testimonials end -->

    <!-- chooseus/get started today -->
    <div class="choose-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-side">
                        <h6 data-aos="slide-right">Exclusive Benefits</h6>
                        <h3 data-aos="slide-right">You Should Choose Us</h3>
                        <p  data-aos="slide-right">Hodlvault is committed to give an opportunity to as many traders as possible
                            to invest their money in binary options trading. Our main task is to simplify both the trading
                            and the process of getting a profit. Our team operates to make you successful in trading.
                        </p>

                        <div class="drop-list">
                            <details  data-aos="slide-right" data-aos-delay="100">
                                <summary>Complete Transparency</summary>
                                <p>Complete transparency of all transactions. Each trader is in control of his trading account. 
                                    All transactions on our website are completely transparent 
                                    It is designed to meet modern security and trading requirements.</p>
                            </details>
                            <!-- <details data-aos="slide-right" data-aos-delay="200">
                                <summary>Financial help and money back</summary>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                    incididunt
                                    utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exe
                                    rcitation ullamco laboris.</p>
                            </details> -->
                            <details data-aos="slide-right" data-aos-delay="200">
                                <summary>Full time support</summary>
                                <p>Got a problem? Our support team is available 24/7.
                                    We practice an individual approach to each client, which is based on
                                    our attentive treatment of traders, large variety of assets,
                                    large amount of educational materials and a high-quality support.
                                </p>
                            </details>
                        </div>


                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="right-side" data-aos="fade-up" data-aos-delay="400">
                        <div class="overlay" style="background: rgba(64, 1, 100, 0.432);">
                            <div class="get-started">
                                <h3>START TODAY!</h3>
                                <p>Open account for free and start trading Bitcoins!</p>
                                <button class="btn get-btn my-2 my-sm-0" type="submit">Search</buttson>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6161bd7386aee40a5735bd33/1fhiso3dt';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

    <!-- chooseus -->

    {% endblock %}






   