{% extends 'hodl_templates/dashbase.html' %}
{% load static %}
  {% block content %}
  <style>

.alert_message {
    margin-top: 30px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
}

.closebtn_message {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn_message:hover {
  color: black;
}</style>
    
<!-- End Navbar -->
<div class="container-fluid">
  <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'hodl_static/assets/img/curved-images/curved0.jpg'%}'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
  </div>
  <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="row gx-4">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <img src="{% static 'hodl_static/assets/img/bruce-mars.jpg'%}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
            John Doe
          </h5>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="container-fluid py-4">
  <div class="row">
 
    <div class="col-12 col-xl-12">
      <div class="card h-100">
        <div class="card-header pb-0 p-3">
          <div class="row">
            <div class="col-md-8 d-flex align-items-center">
              <h6 class="mb-0">Change Password</h6>
            </div>
            <div class="col-md-4 text-end">
              <a href="javascript:;">
                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body p-3">
          <div class="row">
            <div class="alert_message" id="alertchange" style="" >
              <span class="closebtn_message" onclick="this.parentElement.style.display='none';">&times;</span>
              <p id="alertInvestMessage">{{message}}</p>
              </div>
          <form method="post" id="formChange">
            {%csrf_token%}
            <div class="form-content">
               
                                
             {%for field in form_change%} 
                <div class="form-group">
    
                
                    {%if field.name == 'new_password'%}
                    <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                    {%endif%}
                    <label style="font-weight: 400;font-size: 1.2em;">{%if field.name == 'password2'%}password confirmation{%else%}{{field.label}}{%endif%}</label>
                    <p>{{form.errors}}</p>
                    <input type="password" name="{{field.name}}" value="" class="form-control" placeholder="Password" 
                    required="">
                </div>
                {% endfor %}
                 
               
                <div class="pt-20 text-center change">
                  <button type="submit" class="btn btn-primary align">Save</button>
                </div>
            </div>

        </form>
      </div>
            

              <!-- <form action="">

                  <div class="row">

                    <div class="col-lg-5">
                      <div class="form-group">
                        <label for="">Old password</label>
                        <input type="text"
                          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Type old password">
                      </div>
                      <div class="form-group">
                        <label for="">New Password</label>
                        <input type="text"
                          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Typenew password">
                      </div>
                      <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="text"
                          class="form-control" name="" id="" aria-describedby="helpId" placeholder="Retype new password">
                      </div>
                    </div>


              
              <div class="update my-4">
              <button type="submit" class="btn btn-primary align">Save</button>
            </div>

            </form> -->
        </div>
      </div>
    </div>

   
  </div>


</div>
  </div>
  <script>

    const form_change = document.getElementById("formChange");
    form_change.addEventListener("submit", submitHandler);
    function submitHandler(e){
        e.preventDefault()
        
        $.ajax({
            type:"POST",
            url :"{% url 'passwordchange'%}",
            data : $("#formChange").serialize(),
            dataType:'json',
            success:function(data){
                if (data.msg === "password updated succesfully"){
                    const alert = document.getElementById("alertchange");
                    alert.style.display = 'block';
                    alert.style.background = "green";
                    $("#alertInvestMessage").text(data.msg)
                }
                else{
                    const alert = document.getElementById("alertchange");
                    alert.style.display = 'block';
                    alert.style.background = "#f44336";
                    $("#alertInvestMessage").text(data.msg)

                    
                }
            }
        })
    }





 </script>

  <!--   Core JS Files   -->
  {%endblock%}