{% load static %}
<section class="product-section pb-5 pt-5 mb-5">
    <div class="container text-center">

   <h4 class="talk1 pb-2">Have questions? We're here to help.</h4>

   <div class="row" style="font-size: 1.5rem;">

    <div class="col-lg-2"></div>

    <div class="col-lg-4 text-center  mt-5">
        <img src="{% static 'aptiv_static/assets/img/banner/call.png' %}" alt="" width="30">
        <p class="mb-0">Call</p>
        <a href="">000-000-0000 </a>
    </div>

    <div class="col-lg-4 text-center  mt-5">
      
        <img src="{% static 'aptiv_static/assets/img/banner/chat.png' %}" alt="" width="30">
        <p class="mb-0">Chat</p>
        <a href="#">000-000-0000<i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="col-lg-2"></div>

   </div>

</div>
</section>