<!-- footer section start -->
<footer class="">
    <div class="footer-widget-area darkbg section-padding pb-125 inner">
        <div class="container">
            <div class="row mtn-40">
                <div class="col-lg-4 col-md-6">
                    <!-- footer single widget start -->
                    <div class="footer-single-widget mt-10">
                        <div class="widget-logo">
                            <a href="index.html">
                                <!-- <img src="assets/img/logo/logo.png" alt=""> -->
                                <b style="color: #006b38;font-size:1.2em;font-weight:900;">APTIV
                                    BANK</b>
                            </a>
                        </div>
                        <div class="widget-body">
                            <p class="desc">

                                We believe every investor deserves to work with a firm they can
                                count on.
                                APTIV bank , our commitment to your satisfaction is backed by a
                                guarantee,
                                APTIV bank will cover losses in any of your APTIV accounts due to
                                unauthorized activity.

                            </p>

                        </div>
                    </div>
                    <!-- footer single widget start -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- footer single widget start -->
                    <div class="footer-single-widget mt-40">
                        <h3 class="widget-title">Our Link</h3>
                        <div class="widget-body">
                            <ul class="useful-link">
                                <li><a href="/">Home</a></li>
                                <li><a href="about">About us</a></li>
                                <li><a href="about">FAQs</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- footer single widget start -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- footer single widget start -->
                    <div class="footer-single-widget mt-40">
                        <h3 class="widget-title">Contact Info</h3>
                        <div class="widget-body">
                            <ul class="contact-info">
                                <li><span>HEAD QUARTERS:</span>GRAND CANAL DOCK, DUBLIN IRELAND</li>
                                <li><span>Phone:</span> 00000000 <br>00000000000</li>
                                <br>
                                <li><span>France Branch:</span>FRANCE APTIV BANK asset management, Rez-de-chaussée, 10Av. Kléber 6e étage, 75116 Paris, France.</li>
                                <li><span>Phone:</span> +33 6 05 69 72 56</li>
                                <li><span>Web:</span> info@gmail.com <br>www.APTIV</li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer single widget start -->
                </div>


            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright-text text-center">
                <p>&copy; 2021 <b>APTIV BANK</b></p>
            </div>
        </div>
    </div>
</footer>