
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
            
            <div class="col-lg-10 main-sections">
                          <!-- hero slider section start -->

               
        <section class="hero-slider  hero-transparent-bg grey-bg fix">
            <div class="overlay">
            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                <!-- single slider item start -->
                <div class="hero-single-slide">
                    <div class="hero-slider-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-sm-6">
                                    <div class="hero-slider-content">
                                        <div class="hero-content">
                                        <h1 class="slide-title" style="color:white;">About Us</h1>
        
                                        <p>
                                            APTIV BANK aims to generate long-term sustainable
                                            investment returns for its clients, based on a unique
                                            sustainability-driven philosophy.</p>
                                    </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider item start -->
        
               
            </div>
        </div>
        </section>
        
        <!-- hero slider section end -->
        

          <!-- service section start -->
          <div class="big-green">
            <section class="service-wrapper gray-bg section-padding  fix">
                <div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h2 class="servicetitl">The sustainable investor for a changing world</h2>
                         </div>
                        </div>
                    </div>
                    <div class="services">
                    <div class="row">
                      
                        <div class="col-lg-12">
                         <div class="about-us-text">
                            <p class="mb-5">
                                A fast-changing world offers many opportunities. It also comes with great uncertainty
                                and challenges that develop our abilities and test our ambitions, perspectives and determination. This determination translates into one goal: to generate long-term sustainable investment 
                                returns for our clients, based on a unique sustainability-driven philosophy.
                            </p>

                            <p class="mb-5">
                                We have been committed to sustainability since 2002 and have continued
                                to strengthen our ambition, our investment philosophy and our management
                                processes to take ESG considerations
                                into account and promote a low carbon, environmentally sustainable
                                and inclusive economy.
                            </p>

                            <p class="mb-5">
                                We focus our expertise on five core capabilities aligned with our clients’ goals:
                                high conviction active strategies, emerging markets, private assets, multi-asset investment and liquidity solutions. Our investment processes, which embed sustainability, use quantitative and fundamental research to help our portfolio managers generate alpha. Our solutions combine these capabilities in order to answer our clients’ requirements with the most relevant offer. To achieve this we manage assets across the globe by keeping an open mind and by staying true to our convictions. Our experts around the world constantly investigate secular trends and sustainability shifts, supported by in-depth fundamental investment analysis and proprietary ESG scoring, while our robust risk framework combined with
                                our quantitative techniques leads to better investment and asset allocation decisions.
                            </p>

                            <p>
                                We believe it takes all of us to be a key driver of the shift to positive investing.
                                Only a company where people work together can embrace this changing world. 
                                At APTIV BANK, we are the sum of our people – a group of interesting individuals with different backgrounds and cultures – and we expect
                                companies we work with to aim for the same standards.
                            </p>

                         </div>
                            
                    
    
                    </div>
                </div>
                </div>
            </section>
        </div>
         <!-- service section end -->


         <!-- keyfigures section -->
         <section>

            <div class="keyfigures section-padding inner">
                <div class="head">
                    <h3>Key figures of 30 june 2022</h3>
                </div>

                <div class="body">
                    <ul>
                        <li>
                            <p><b>EUR 500bn</b></p>
                            <p>Total Assets under management</p>
                        </li>

                        <li>
                            <p><b>EUR 300bn</b></p>
                            <p>Institutional Assets under management</p>
                        </li>

                        <li>
                            <p><b>EUR 298.2bn</b></p>
                            <p>ESG Assets under management</p>
                        </li>

                        <li>
                            <p><b>EUR 3,000bn</b></p>
                            <p>employees in more than 30 countries</p>
                        </li>
                    </ul>
                </div>
            </div>
         </section>



         <!-- .history-section -->

         <section class="section-paddi inner mt-3 mb-5">
            <div class="history">
                <h2>Our History</h2>
                <p>
                    Our story is closely intertwined with that of our parent company, 
                    APTIV Bank, the European Union’s leading bank and a key player in international banking.
                    The story of APTIV Bank dates back to the 19th century when 
                    the banks that would eventually form the Group first opened and expanded. Fueled by Europe’s extraordinary industrial growth,
                    the banks were able to set aside enough savings to finance crucial economic development.
                </p>
                <p>
                    The APTIV Bank Group was established in 2000 with the ambition to create a genuinely European banking group with a global vocation. Acquisitions have significantly enhanced its strong European presence: TEB in Turkey in 2005, BNL in Italy in 2006, Fortis in Belgium and BGL in Luxembourg in 2009, 
                    BGZ in Poland, Laser Cofinoga in consumer loans and Dab Bank in Germany in 2014.
                </p>

                <p>
                    <b>APTIV Bank: backed by more than 
                        fifty years of asset management experience</b>
                </p>


                <p>
                    With a track record of managing mutual funds since they were 
                    first authorised in the mid-1960s and institutional accounts since the 1980s, B
                    NP and Paribas provided a solid foundation for their investment business to thrive
                </p>


                <p>
                    APTIV Bank has become one of the leaders in asset management
                    in Europe with a large presence in Asia Pacific,
                    serving individual, corporate and institutional clients in 67 countries.
                </p>

               




            </div>

         </section>
        
      
        
      

        
      <!-- footer section start -->
      {% include 'aptiv_templates/_footer.html' %}
      <!-- footer section end -->
          </div>
          </div>
       
               
              
          
          
          {% endblock %}
          
            
      
              
           
         