
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}

                <div class="col-lg-10 main-sections">
                    <!-- hero slider section start -->

                    <section class="hero-slider  hero-transparent-bg grey-bg fix" style="background: linear-gradient(rgba(7, 204, 10, 0.7), rgba(8, 237, 11, 0.7)), url({% static 'aptiv_static//assets/img/banner/Cryp.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center;">
                        <div class="overlay">
                            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                                <!-- single slider item start -->
                                <div class="hero-single-slide">
                                    <div class="hero-slider-item">
                                        <div class="container">
                                            <div class="row align-items-center">
                                                <div class="col-xl-12 col-sm-6">
                                                    <div class="hero-slider-content">
                                                        <div class="hero-content">
                                                            <h1 class="slide-title"
                                                                style="color:white;width: 100%;font-weight: 400;">
                                                                Cryptocurrency Investing
                                                            </h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider item start -->


                            </div>
                        </div>
                    </section>

                    <!-- hero slider section end -->

                    <section class="product-section pb-5 pt-5 mt-4" >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                    What is cryptocurrency?
                                </p>


                                <p class="pb-3">
                                    Cryptocurrency is a virtual currency secured through one-way cryptography. 
                                    It appears on a distributed ledger called a blockchain that's transparent and 
                                    shared among all users in a permanent and verifiable way that's nearly impossible to
                                    fake or hack into. The original intent of cryptocurrency was to allow online payments to
                                     be made directly from one party to another without the need for a central third-party 
                                     intermediary like a bank. However, with the introduction of smart contracts, non-fungible tokens, stablecoins, 
                                    and other innovations, additional uses and capabilities are rapidly evolving.
                                </p>

                                <p>
                                    Cryptocurrency's value stems from a combination of scarcity and the perception 
                                    that it is a store of value, an anonymous means of payment, or a hedge against inflation. 
                                    Cryptocurrency investors can buy or sell them directly in a spot market, 
                                    or they can invest indirectly in a 
                                    futures market or by using investment products that provide cryptocurrency exposure.
                                </p>
                                
                             
                                </div>
                          
                        </div>
                    </div>
                    </section>


                    <section class="product-section pb-5 " >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                    Ways to invest in cryptocurrency at APTIV Bank
                                </p>


                                <p class="pb-3">
                                    For investors interested in cryptocurrency, APTIV Bank has several 
                                    choices for gaining exposure to cryptocurrency markets, 
                                    though spot trading of cryptocurrency is not currently available.
                                </p>
                                </div>
                          
                        </div>
                    </div>
                    </section>

                    <section class="product-section pb-4 " >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk1 mb-3">
                                   Cryptocurrency-related ETFs
                                </p>

                                <p>Exchange-traded funds (ETFs) that provide exposure to companies
                                    that are focused on servicing the cryptocurrency market are available.
                                </p>



                                
                   

                                </div>
                          
                        </div>
                    </div>
                    </section>
                    
                    <section class="product-section" >
                        <div class="container">
                        <div class="row stock-type">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'aptiv_static/holder.js' %}/100x180/" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">APTIV Bank Crypto Thematic ETF—NEW</h4>
                                        <p class="card-text">
                                            Our APTIV Bank Crypto Thematic ETF is designed to deliver global exposure to companies that may benefit from the 
                                            development or utilization of cryptocurrencies (including Bitcoin) and other digital assets, and the business 
                                            activities connected to blockchain and other distributed ledger technology.

                                            <p class="mt-5 pb-1"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card bg-light-primary">
                                    <img class="card-img-top" src="{% static 'aptiv_static/holder.js' %}/100x180/" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Additional ETFs</h4>
                                        <p class="card-text">
                                            Third-party ETFs available at APTIV Bank also invest in equities or futures contracts related to cryptocurrencies. 
                                            You can find these funds in the Morningstar category "Digital Assets" using the APTIV Bank ETF Fund Finder tool. 
                                            You can also find these funds in the Morningstar categories "Trading-Miscellaneous" and 
                                            “Miscellaneous Sector” using the APTIV Bank ETF Fund Finder tool.

                                            <p class="mt-1"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    
                          
                        </div>
                    </div>
                    </section>


                    <section class="product-section pb-5 pt-5 ">
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk1 mb-3">
                                    Bitcoin Futures
                                </p>

                                <p>
                                    Bitcoin futures contracts are agreements to buy or sell a specific quantity of Bitcoin at 
                                    a specified price on a particular future date. Clients have 
                                    a couple of ways to get exposure to them, depending on the APTIV Bank account they have.
                                </p>
                                </div>
                          
                        </div>
                    </div>
                    </section>
                    
                    <section class="product-section" >
                        <div class="container">
                        <div class="row stock-type">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img class="card-img-top" src="{% static 'aptiv_static/holder.js' %}/100x180/" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Futures Account</h4>
                                        <p class="card-text">
                                            Clients with a futures account can trade Bitcoin futures contracts (BTC) directly. 
                                            Traded contracts are settled in cash, not cryptocurrency.

                                            <p class="mt-5 pb-5"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card bg-light-primary">
                                    <img class="card-img-top" src="{% static 'aptiv_static/holder.js' %}/100x180/" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Mutual Funds & ETFs</h4>
                                        <p class="card-text">
                                            Several mutual fund and ETF products invest in Bitcoin futures contracts, 
                                            providing clients with a brokerage account a way to get indirect exposure. 
                                        </p>
                                        <p class="card-text">
                                            Several mutual fund and ETF products invest in Bitcoin futures contracts, 
                                            providing clients with a brokerage account a way to get indirect exposure. 
                                            <p class="mt-3"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                    
                          
                        </div>
                    </div>
                    </section>


                   



                    <section class="product-section pb-5 pt-5 mt-5" >
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-12 wow fadeInLeft">
                                <p class="talk1 mb-3">
                                    APTIV Bank's Perspective
                                </p>

                               <p>
                                We suggest that clients who are interested in cryptocurrency approach them as speculative investments and 
                                consider their goals as well as the risks involved. For those who already have a diversified portfolio and a long-term investment plan, we see cryptocurrency 
                                as being used primarily for trading purposes outside the traditional portfolio.
                               </p>

                               <p>Here are some aspects to consider about cryptocurrency investing in general, as well as differences between investing directly in the spot market vs. indirectly.</p>
                            </div>    
                          
                        </div>
                    </div>
                    </section>

                    <section class="product-section pb-5 " >
                        <div class="table-responsive understand">
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Benefits</th>
                                        <th>Risks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row" width ="25%"><b>Cryptocurrency Investing</b></td>
                                        <td>
                                            <p>
                                                <b>Potential for appreciation</b> <br>
                                                Some investors are attracted to the volatile 
                                                price swings as a potential for profit. 
                                            </p>

                                            <p>
                                                <b>Portfolio diversification</b> <br>
                                                Some investors believe that if the lack of correlation 
                                                with other asset classes continues, 
                                                cryptocurrency could add diversification to a portfolio.  
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <b>Potential for financial loss</b> <br>
                                                Cryptocurrency prices historically have been highly volatile, 
                                                and fluctuations could result in significant financial losses 
                                                regardless of whether you have direct or indirect exposure
                                            </p>

                                           
                                        </td>
                                       
                                    </tr>

                                    <tr>
                                        <td scope="row" width ="25%"><b>Direct Investing (spot market) Considerations</b></td>
                                        <td>
                                            <p>
                                                <b>Transaction transparency</b> <br>
                                                The use of blockchain records transactions between parties in a verifiable 
                                                and permanent way visible to all. 
                                            </p>

                                            <p>
                                                <b>24/7 access</b> <br>
                                                Unlike traditional exchange-traded products, 
                                                cryptocurrency can be bought or sold at any time.  
                                            </p>
                                            
                                            <p>
                                                <b>Control</b> <br>
                                                With no ties to banks, regulators, or governmental policies, 
                                                cryptocurrency theoretically provides user autonomy.   
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <b>Potential for fraud </b> <br>
                                                According to the Federal Trade Commission, "Many people have reported being lured to websites 
                                                that look like opportunities for investing in or mining cryptocurrencies, but are bogus." 
                                            </p>

                                            <p>
                                                <b>Lack of recoverability  </b> <br>
                                                Cryptocurrency assets are accessed using a key that’s not retrievable if lost. Similarly, 
                                                if you lose access to the place where you store your key, 
                                                you will effectively lose possession of your cryptocurrency. 
                                            </p>

                                           
                                        </td>
                                       
                                    </tr>

                                    <tr>
                                        <td scope="row" width ="25%"><b>Indirect Investing Considerations</b></td>
                                        <td>
                                            <p>
                                                <b>Regulation </b> <br>
                                                The investment products offered at APTIV Bank provide an element of 
                                                regulation and consumer protections that spot trading lacks. 
                                            </p>

                                            <p>
                                                <b>Recoverability </b> <br>
                                                Access to conventional investment accounts can usually be recovered if your credentials are misplaced. 
                                            </p>
                                            
                                            
                                        </td>

                                        <td>
                                            <p>
                                                <b>High expenses for trusts and funds </b> <br>
                                                Cryptocurrency trusts and mutual funds can involve high expenses, 
                                                with fees exceeding 2% or more of the investment.  
                                            </p>

                                            <p>
                                                <b>Leverage risk for futures  </b> <br>
                                                Cryptocurrency futures are leveraged products, meaning you could lose more than you initially invested. 
                                            </p>

                                           
                                        </td>
                                       
                                    </tr>

                                  

                                
                                </tbody>
                            </table>
                    </div>
                    </section>





                    <section class="product-section pb-5 pt-5 mt-4 mb-5" style="background-color: #e8e8e8;">
                        <div class="container text-center">
                       <h4 class="talk1 pb-4">Start investing today</h4>
                     
                   
                    <a  onclick="location.href='{% url 'signup' %}'"class="btn btn-hero">Open an Account</a>
                    </div>
                    </section> 


                  
                    {% include 'aptiv_templates/__call_section.html' %}



                    <section class="product-section pb-5 pt-5" >
                        <div class="container">
                            <h5 class="talk1 pb-4">Common Questions</h5>
                          
                            <div class="faq-inner regtabs">
                                <div class="accordion" id="general-question">

                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="ion-ribbon-b"></i>
                                                    Why have cryptocurrencies like Bitcoin become so popular?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseOne" class="collapse sho" aria-labelledby="headingOne" data-parent="#general-question">
                                            <div class="card-body">
                                                <p class="p-3">
                                                    News about Bitcoin and other cryptocurrencies have been impossible to 
                                                    ignore. Investors hear news about overnight millionaires who lose their 
                                                    fortunes just as quickly. For example, a single bitcoin ranged in price 
                                                    from $1,000 in early 2017 to a high of over $66,000 in October 2021, 
                                                    with intense volatility in between. 
                                                    Like many new technologies or products, cryptocurrency has attracted 
                                                    adherents interested in innovation and the perceived absence of 
                                                    governmental control. Traders saw it as an alternative to traditional 
                                                    investments such as stocks, bonds, and cash, and trading momentum led 
                                                    to a rising, if highly volatile, price. All of this attracted media 
                                                    attention, which drove mainstream awareness and, ultimately, increasing 
                                                    acceptance. Major companies, including Microsoft, PayPal, 
                                                    and Overstock now accept Bitcoin as a form of payment.
                                            </p>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                                    <i class="ion-android-car"></i>
                                                    Are cryptocurrencies safe investments?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Cryptocurrencies are speculative investments, with significant volatility of cryptocurrency prices and the prices of indirect investments that have exposure to the cryptocurrency market. Cryptocurrency doesn't fit within traditional asset allocation models, as it is neither a traditional commodity, such as gold, nor a traditional currency. Its volatility is driven primarily by supply and demand, not inherent value. Bitcoin, for example, doesn't have earnings or revenues. It doesn’t have a 
                                                    price-to-earnings ratio, price-to-sales ratio, or book value. Traditional value metrics don't apply, so there are no methods for assessing its value that we endorse or find persuasive beyond the trading value. Considering its volatility and the possibility that the entire value of a cryptocurrency investment could disappear, investors who don’t think they could handle the market swings might want to steer clear.
                                                    There is also cryptocurrency risk besides volatility, as no regulatory infrastructure is in place for cryptocurrencies. Nothing exists yet to back you up like the Federal Deposit Insurance Corporation does for U.S. bank customers. That means investors are entirely responsible for the security of any cryptocurrency spot holdings. The SEC has noted that with cryptocurrencies, there is "substantially less investor protection than in our traditional securities markets, with correspondingly greater opportunities for fraud and manipulation."
                                            </p>       
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                                    <i class="ion-university"></i>
                                                   
                                                    Can I buy and sell individual cryptocurrencies directly in my APTIV Bank account?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Though you can get exposure to cryptocurrencies in multiple ways at Schwab—trusts, futures, ETFs, and individual equities—you cannot currently buy or sell individual cryptocurrencies directly in a APTIV Bank account. 
                                                     We understand there is some client interest and engagement in cryptocurrencies, and we are looking closely and cautiously at this space. Clarity from regulators will be important before we consider offering a retail cryptocurrency experience. If we do, you can expect it to be a great value, designed to support client need and surrounded by the advice and education our 
                                                    clients have come to expect and deserve from us. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingfive">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                                    <i class="ion-android-car"></i>
                                                    Can I transfer money to APTIV Bank using cryptocurrency?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    No, APTIV Bank does not accept cryptocurrency deposits, nor do we accept or disburse 
                                                    cryptocurrencies for settlement of securities or futures transactions. 
                                            </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                                                    <i class="ion-android-car"></i>
                                                    Are there Cryptocurrency ETFs?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    
                                                    While several investment firms have submitted applications to the SEC for ETFs that hold cryptocurrency directly, none have been approved to trade in U.S. markets. Some available ETF products provide exposure to companies that are focused on servicing the cryptocurrency market and digital assets. 
 
                                                    <br>
APTIV Bank Asset Management offers the APTIV Bank Crypto Thematic ETF that provides global exposure to companies that may benefit from the development or utilization of cryptocurrencies and other digital assets, and the business activities connected to blockchain and other distributed ledger technology. This ETF does not invest directly in any cryptocurrency or digital asset.
                                                    <br>

These ETFs can be found in the Morningstar categories "Sector-Miscellaneous" and "Digital Assets" using APTIV Bank's ETF Fund Finder tool.
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                                                    <i class="ion-android-car"></i>
                                                    Do investors pay taxes when buying or selling cryptocurrency?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    The IRS treats cryptocurrency as property, not currency. 
                                                    Transactions in cryptocurrency spot markets are thus considered taxable by 
                                                    the Internal Revenue Service (IRS) whenever a taxable event occurs, such as 
                                                    selling cryptocurrency for a fiat currency (i.e., U.S. Dollars, Euros, etc.) or when traded for another asset. Investors are responsible for tracking cost basis, gains, and other reporting. If you have questions or concerns about the potential tax implications of transacting in cryptocurrencies, 
                                                    you should refer to this IRS publication or consult with a tax advisor.
                                            </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-header" id="headingEight">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                                                    <i class="ion-android-car"></i>
                                                    What's the difference between Bitcoin and blockchain?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Blockchain is the underlying technology that supports cryptocurrencies like Bitcoin. 
                                                    It is an open-source, public record-keeping system operating on a decentralized computer 
                                                    network that records transactions between parties in a verifiable and permanent way. 
                                                    Blockchain provides accountability, as the records are intended to be immutable, which 
                                                    presents potential applications for many businesses. While blockchain has often been associated with 
                                                    cryptocurrency, it has many potential uses beyond payments, including smart contracts, supply chain management, 
                                                    and financial services. Note that ownership of Bitcoin or other cryptocurrencies is not an investment in blockchain, 
                                                    the technology, or its current or future uses.
                                            </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                          
                    </div>
                    </section>


                 
                   



      <!-- footer section start -->
      {% include 'aptiv_templates/_footer.html' %}
      <!-- footer section end -->
          </div>
          </div>
       
               
              
          
          
          {% endblock %}
          
            
      