
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
            
            <div class="col-lg-10 main-sections">
                          <!-- hero slider section start -->

               
        <section class="hero-slider  hero-transparent-bg grey-bg fix">
            <div class="overlay">
            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                <!-- single slider item start -->
                <div class="hero-single-slide">
                    <div class="hero-slider-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-sm-6">
                                    <div class="hero-slider-content">
                                        <div class="hero-content">
                                        <h1 class="slide-title" style="color:white;">Governance</h1>
        
                                        <!-- <p>
                                            APTIV BANK aims to generate long-term sustainable
                                            investment returns for its clients, based on a unique
                                            sustainability-driven philosophy.</p> -->
                                    </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider item start -->
        
               
            </div>
        </div>
        </section>
        
        <!-- hero slider section end -->
        

          <!-- service section start -->
          <div class="big-green">
            <section class="service-wrapper gray-bg section-padding  fix">
                <div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h2 class="servicetitl">Governance</h2>
                         </div>
                        </div>
                    </div>
                    <div class="services">
                    <div class="row">
                      
                        <div class="col-lg-12">
                         <div class="about-us-text">
                            
                            <p class="mb-3">
                                
The APTIV Bank Executive Committee’s mission includes bringing together both state of the art and diverse expertise and collegiality in the decision-making process of APTIV Bank at top level, supporting the CEO. In accordance with French law, APTIV Bank Holding’s CEO reports to the APTIV Bank Holding board of directors (“Board”), 
who oversees in particular, APTIV Bank’s global strategy, risks, and control systems.
                            </p>

                            <p class="mb-3">
                                The Executive Committee advises the CEO on decisions and business
                                matters of the global asset management business line, spanning business management, strategy implementation, and definition and enforcement of policies. The governance in place is strong and coherent both from a local and global perspective.
                                It is well-suited for an asset management business part of a banking group.
                            </p>

                            <p class="mb-3">
                                Let it be emphasized that APTIV Bank Holding’s Board chose to dissociate the roles of Chair of the Board and CEO, as one of its key missions under French law is to foster
                                balance and accountability at the highest level of APTIV Bank’s organization.
                            </p>

                          

                         </div>
                            
                    
    
                    </div>
                </div>
                </div>
            </section>
        </div>
         <!-- service section end -->


         



        
      
     
      




  <!-- footer section start -->
  {% include 'aptiv_templates/_footer.html' %}
  <!-- footer section end -->
      </div>
      </div>
   
           
          
      
      
      {% endblock %}
      