
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
          
            

    <div class="col-lg-10 main-sections">
                       
        <!-- hero slider section start -->

               
        <section class="hero-slider  hero-transparent-bg grey-bg fix">
            <div class="overlay">
                <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                    <!-- single slider item start -->
                    <div class="hero-single-slide">
                        <div class="hero-slider-item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-xl-12 col-sm-6">
                                        <div class="hero-slider-content">
                                            <div class="hero-content">
                                                <h1 class="slide-title"
                                                    style="color:white;text-transform: capitalize;">Welcome
                                                    to a modern <br> way to invest </h1>

                                                <p>Let us help you by developing safer, greener and more
                                                    connected DIGITAL solutions
                                                    with guidance of experienced professionals and advisors
                                                    through TECHNOLOGY.
                                                </p>

                                                <a href="sign_up.html" class="btn btn-hero">Open an
                                                    Account</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-xl-7 col-sm-6">
                        <div class="slider-thumb moving-vertical">
                            <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                        </div>
                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single slider item start -->


                </div>
            </div>
        </section>
        
        <!-- hero slider section end -->
        
        <!-- service policy start -->
        <section class="policy-area policy-padding pb-125 fix wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="container">
                <div class="row mtn-30">
                    <div class="col-lg-12">
                        <h2 class="policy-area-header">You Deserve More. <br> We Can Help</h2>
                    </div>
                   
                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% 'static aptiv_static/assets/img/icon/icon-1.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Creative Ideas</h3>
                            <p class="service-policy-desc">We are here to help come up with mind blowing and certified ideas
                                that would help build your business or investime to its peak.</p>
                        </div>
                    </div>
                    <!-- single item end -->
                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/icon-2.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Transparent Pricing</h3>
                            <p class="service-policy-desc">See all our pricing and trading fees in one convenient place.</p>
                        </div>
                    </div>
                    <!-- single item end -->
                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/7.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Low Costs</h3>
                            <p class="service-policy-desc">Our transparent, low commissions, starting at $02,
                                and low financing rates minimize costs to maximize returns.3</p>
                        </div>
                    </div>
                    <!-- single item end -->
                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/8.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">How You Work With Us is Your Choice</h3>
                            <p class="service-policy-desc">You can Manage and trade your own investments,
                                Get automated investing and professional guidance, Plan and invest with a consultant.</p>
                        </div>
                    </div>
                    <!-- single item end -->

                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/9.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Global Access</h3>
                            <p class="service-policy-desc">Invest globally in stocks, options, futures, currencies,
                                bonds and funds from a single integrated account.</p>
                        </div>
                    </div>
                    <!-- single item end -->

                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/10.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Talented Team</h3>
                            <p class="service-policy-desc">We have a team of qualified and talented indviduals stand by
                                and ready to solve your investment problems</p>
                        </div>
                    </div>
                    <!-- single item end -->

                    <!-- single item strat -->
                    <div class="col-lg-6 col-md-6">
                        <div class="service-policy-item mt-30">
                            <div class="service-policy-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/icon-4.png' %}" alt="icon">
                            </div>
                            <h3 class="service-policy-title">Online Support</h3>
                            <p class="service-policy-desc">Always available online 24/7 to answer your questions and meet your needs. </p>
                        </div>
                    </div>
                    <!-- single item end -->
                </div>
            </div>
        </section>
        <!-- service policy end -->
        
        <!-- about section start -->
        <section class="about-wrapper-area section-padding pt-0 inner  fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="about-thumb moving-vertical">
                            <img src="{% static 'aptiv_static/assets/img/about/about-1.png' %}" alt="about thumb">
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="about-inner">
                            <h2 class="h1 title"><span>Having Provided</span> the Best <br> Solutions <span>to Improve</span> <br>your Business</h2>
                            <h3 class="subtitle">We Make Sure that Your Satisfaction is Guaranteed and Your Security is Our Priority</h3>
                            <p>
                                We believe every investor deserves to work with a firm they can count on.
                                APTIV bank , our commitment to your satisfaction is backed by a guarantee,
                                APTIV bank will cover losses in any of your APTIV accounts due to  unauthorized activity.
                            </p>
                                <a href="#" class="btn btn-all">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about section end -->
        
        <!-- service section start -->
        <div class="big-green">
        <section class="service-wrapper gray-bg section-padding inner  fix">
            <div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="servicetitle">Services That We Provide</h2>
                            <!-- <p>labore dolore magnam aliquam quaerat voluptatem ad minima veniam, quis nostrum exercitationem</p> -->
                        </div>
                    </div>
                </div>
                <div class="services">
                <div class="row  mtn-65">
                  
                    <div class="col-lg-6 service-items-left">
                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/13.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">Guaranteed Satisfaction </a></h3>
                                <p>Our commitment to your satisfaction is backed by a guarantee.
                                    If for any reason you're not satisfied,
                                    we'll refund your fee or commission and work with you to make things right.¹
                                    You won't find that kind of promise everywhere—but you will find it here.</p>
                            </div>
                        </div>
                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/4.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">STRAIGHT FORWARD PRICING</a></h3>
                                <p>With no account fees, $0 commission trades, 
                                    and no minimums to open an account,
                                    we can help your money go further.
                                </p>
                            </div>
                        </div>

                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/1.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">Professional Guidance</a></h3>
                                <p>
                                    Get advice that's personalized just for you.An APTIV bank Financial
                                    Consultant will get to know you and your needs as they work 
                                    with you to develop a long-term plan to help meet your
                                    personal financial goals.
                                </p>
                            </div>
                        </div>
                      
                      
                    </div>

                  

                    <div class="col-lg-6 service-items-right">
                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/15.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">Digital Investing & Advise</a></h3>
                                <p>Get professional investment 
                                    management with our low-cost robo advisor solutions,
                                    from digital-only investing to a hybrid robo service with access to advisors when needed.
                                </p>
                            </div>
                        </div>
                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/11.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">Wealth Management</a></h3>
                                <p>Through Aptiv bank Wealth Services Collaborate with a dedicated advisor who will work with you and for you,
                                    providing clear recommendations designed to help you grow and protect your wealth.</p>
                            </div>
                        </div>
                        <div class="service-item mt-65">
                            <div class="service-icon">
                                <img src="{% static 'aptiv_static/assets/img/icon/12.png' %}" alt="service icon">
                                <h3 class="service-title"><a href="service-details.html">Priortized Security </a></h3>
                                <p>Get easy-to-use tools and the latest professional insights from our team of specialists.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section>
    </div>

<!-- robo section start -->
        
    <!-- robo section end -->


     <!-- team section start -->
     <section class="robo-wrapper robo-padding inner fix">
        <div class="container">
            <div class="robo-content">
            <div class="row ">
                <div class="col-xl-6  order-md-last wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="robo-img">
                        <img src="{% static 'aptiv_static/assets/img/banner/hands.jpg' %}" alt="">
                    </div>
                </div>

                <div class="col-xl-6 order-lg-first  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="team-content team-content--style_2 about-inner">
                        <h1 class="subtitle">Jumpstart your investing with a robo-advisor.</h1>
                        <p>APTIV is a robo-advisory service that helps build and manage your portfolio so you don't have to. Add our Premium service for unlimited guidance from a CERTIFIED FINANCIAL PLANNERTM professional, now for a monthly subscription fee.</p>
                        <a href="#" class="btn btn-all">Let's Start</a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- team section end -->



        
       
        
        <!-- brand logo section start -->
        <section class="brand-logo-wrapper brand-padding fix wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="container">
                <h5 class="brand-header">AWARD WINNING PLATFORM + SERVICES</h5>
                <div class="row">
                    <div class="col-12">
                        <h2 class="sr-only">brand logo</h2>
                        <div class="brand-logo-carousel">
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo1.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo2.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo3.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo4.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo5.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo6.png' %}" alt="brand logo">
                                </a>
                            </div>
                            <div class="brand-item">
                                <a href="#">
                                    <img src="{% static 'aptiv_static/assets/img/brand-logo/brand-logo7.png' %}" alt="brand logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- brand logo section end -->
          
        
        <!-- footer section start -->
{% include 'aptiv_templates/_footer.html' %}
    <!-- footer section end -->
        </div>
        </div>
     
    


{% endblock %}

