
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
                <div class="col-lg-10 main-sections">
                    <!-- hero slider section start -->


                    <section class="hero-slider  hero-transparent-bg grey-bg fix" >
                        <div class="overlay">
                            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                                <!-- single slider item start -->
                                <div class="hero-single-slide">
                                    <div class="hero-slider-item">
                                        <div class="container">
                                            <div class="row align-items-center">
                                                <div class="col-xl-12 col-sm-6">
                                                    <div class="hero-slider-content">
                                                        <div class="hero-content">
                                                            <h1 class="slide-title"
                                                                style="color:white;width: 100%;font-weight: 400;">
                                                                Costs of Investing
                                                            </h1>

                                                           
                                                            <p>Investing costs and fees matter—and you should always know what you're paying. At APTIV Bank, we make it easy for you to be an informed investor. </p>

                                                            <!-- <a onclick="location.href='{% url 'signup' %}'" href="#" class="btn btn-hero">Open an Account</a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider item start -->


                            </div>
                        </div>
                    </section>

                    <!-- hero slider section end -->




                    <section class="product-section pb-5 pt-5" >
                        <div class="table-responsive understand">

                            <h2 class="pb-0">Stocks and Options</h2>
                            <p class="pb-4">Trading commissions are your primary costs when investing in stocks and options.</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Understanding stock and options costs.</th>
                                        <th>Stock and options costs at APTIV Bank.</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Trade Commissions</td>
                                        <td>
                                            <p>
                                            
                                                Every time you buy or sell a stock or option, your brokerage company may 
                                                charge you a trade commission. 
                                                This includes costs for routing, executing, and clearing the trade.
                                            </p>

                                        </td>
                                        <td>
                                            <p>
                                                $0 for all online listed stock and options trades1 
                                                + 
                                                $0.65 per options contract2
                                            </p>
                                        </td>
                                    </tr>                             
                                </tbody>
                            </table>
                    </div>
                    </section>
                    
                    <section class="product-section pb-5 pt-5" >
                        <div class="table-responsive understand">

                            <h2 class="pb-0">Mutual Funds</h2>
                            <p class="pb-4">The three costs to consider when investing in mutual funds are operating expenses, loads, and transaction fees.</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Understanding mutual fund costs.</th>
                                        <th>Mutual fund costs at APTIV Bank.</th>

                                    </tr>
                                </thead>
                                <tbody>                           
                                    <tr>
                                        <td scope="row">Operating Expense Ratio (OER)</td>
                                        <td>
                                            <p>
                                                OERs are charged annually by the fund company, expressed as a percentage of a 
                                                fund's average net assets. They cover the fund's management and other costs.
                                            </p>

                                            <p>
                                               Passively managed funds are designed to track a specific market index and typically have 
                                               lower costs (OERs) than actively managed funds that pay 
                                               fund managers or management teams to make ongoing decisions on where a fund's money is invested.
                                            </p>

                                        </td>
                                        <td>
                                            <p>
                                                <b> Passively managed funds</b> <br>
                                                APTIV Bank Funds®3 <br>
                                                OERs can range from 0.02%-0.39%*. Third-party passively managed mutual funds are also available. OERs vary from fund to fund.
                                            </p>

                                            <p>
                                                <b> Actively managed funds</b> <br>
                                                APTIV Bank Funds3 <br>
                                                OERs can range from 0.22%-1.25%*. Third-party actively managed mutual funds are also available. OERs vary from fund to fund.</p>
                                        </td>
                                    </tr>    
                                    
                                     <tr>
                                        <td scope="row">Load</td>
                                        <td>
                                            <p>
                                                When you purchase or redeem shares in certain load-based mutual funds, 
                                                some funds charge you this one-time commission to compensate the broker for the sale.
                                            </p>

                                        </td>
                                        
                                        <td>
                                            <p>
                                                <b> APTIV Bank Funds</b> <br>
                                                $0 <br>
                                                No-load and load-waived funds that participate in APTIV Bank Mutual Fund OneSource® Service are also available.
                                            </p>
                                        </td>
                                    </tr> 

                                     <tr>
                                        <td scope="row">Transaction Fee</td>
                                        <td>
                                            <p>
                                                When you purchase or redeem a mutual fund, your brokerage company may charge you a trade fee. 
                                                This fee may also be used to compensate 
                                                the brokerage in instances where it does not receive compensation from the fund.
                                            </p>

                                        </td>
                                        
                                        <td>
                                            <p>
                                                <b> APTIV Bank Funds</b> <br>
                                                $0 <br>
                                                No-load and load-waived funds that participate in APTIV Bank Mutual Fund OneSource® Service are also available.
                                            </p>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                    </div>
                    </section>

                    <section class="product-section pb-5 pt-5" >
                        <div class="table-responsive understand">

                            <h2 class="pb-0">Exchange-Traded Funds (ETFs)</h2>
                            <p class="pb-4">The three costs to consider when investing in ETFs are operating expenses, commissions, and bid/ask spreads.</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Understanding ETF costs.</th>
                                        <th>ETF costs at APTIV Bank.</th>

                                    </tr>
                                </thead>
                                <tbody>                           
                                    <tr>
                                        <td scope="row">Operating Expense Ratio (OER)</td>
                                        <td>
                                            <p>
                                                OERs are charged annually by the fund company, expressed as a percentage of a 
                                                fund's average net assets. They cover the fund's management and other costs. Passively managed funds are designed to track a specific market index and typically have lower costs (OERs) than actively managed funds that pay fund managers 
                                                or management teams to make ongoing decisions on where a fund's money is invested.
                                            </p>

                                        </td>
                                        <td>
                                            <p>
                                                <b>Passively managed ETFs </b> <br>
                                                APTIV Bank ETFs <br>
                                                Expenses can range from 0.03%-0.39%*. Third-party passively managed ETFs traded on US exchanges are also available. OERs vary from fund to fund.
                                            </p>

                                            <p>
                                                <b> Actively managed ETFs</b> <br>
                                                APTIV Bank offers third-party actively managed ETFs traded on US exchanges. OERs vary from fund to fund.
                                             </td>
                                    </tr>    
                                    
                                     <tr>
                                        <td scope="row">Trade Commission (online)</td>
                                        <td>
                                            <p>
                                                Your broker may charge you a trade commission each time you buy or sell an ETF.
                                            </p>

                                        </td>
                                        
                                        <td>
                                            <p>
                                                $0 for all online listed ETFs6, including APTIV Bank ETFs.   
                                            </p>
                                        </td>
                                    </tr> 

                                     <tr>
                                        <td scope="row">Other Costs </td>
                                        <td>
                                            <p>
                                                Bid/Ask spreads and changes in discounts and premiums can also factor into your trade costs.
                                            </p>

                                        </td>
                                        
                                        <td>
                                            <p>
                                                Costs vary from fund to fund.
                                            </p>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                    </div>
                    </section>

                    <section class="product-section pb-5 pt-5" >
                        <div class="table-responsive understand">

                            <h2 class="pb-0">Bonds</h2>
                            <p class="pb-4">Your primary cost when investing in bonds is the price markup.</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Understanding bond costs.</th>
                                        <th>Bond costs at APTIV Bank.</th>

                                    </tr>
                                </thead>
                                <tbody>                           
                                    <tr>
                                        <td scope="row">Price Markup</td>
                                        <td>
                                            <p>
                                                Generally, this is the difference between the market 
                                                price of the bond and the price at which it's sold to you, 
                                                including transaction fees.
                                            </p>

                                        </td>
                                        <td>
                                            <p>
                                                $1 per-bond transaction fee for most secondary market bonds traded online ($10 minimum/$250 maximum)7.
                                            </p>
                                             </td>
                                    </tr>    
                                </tbody>
                            </table>
                    </div>
                    </section>

                    <section class="product-section pb-5 pt-5" >
                        <div class="table-responsive understand">

                            <h2 class="pb-0">Portfolio Management Fees</h2>
                            <p class="pb-4">Consider the annual fees when choosing a managed offer.</p>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Understanding portfolio management fees.</th>
                                        <th>Portfolio management fees at APTIV Bank.</th>

                                    </tr>
                                </thead>
                                <tbody>                           
                                    <tr>
                                        <td scope="row">Annual Fees</td>
                                        <td>
                                            <p>
                                                If you choose to have your portfolio of investments professionally managed or to 
                                                obtain advice for a fee, there may be additional periodic costs. 
                                                Usually based on a percentage of your assets, the costs can vary 
                                                depending on the level of assets held in your portfolio and the level of service you receive. 
                                                Keep in mind that you may also be paying investment costs specific to the underlying assets in your portfolio, 
                                                such as ETF or Mutual Fund OERs and trade commissions.
                                            </p>

                                        </td>
                                        <td>
                                            <p>
                                                <b>Dedicated financial advice</b> <br>
                                                Starts at 0.80% for APTIV Bank Wealth Advisory™9
                                                
                                                (Fee rates decrease at higher asset levels)
                                            </p>
                                             </td>
                                    </tr>    
                                </tbody>
                            </table>
                    </div>
                    </section>







                    <section class="product-section pb-5 pt-5 mt-4 mb-5" style="background-color: #e8e8e8;">
                        <div class="container text-center">
                       <h4 class="talk1 pb-2">Ready to start investing with APTIV Bank?</h4>
                     
                   
                    <a onclick="location.href='{% url 'signup' %}'" href="#" class="btn btn-hero">Open an Account</a>
                    </div>
                    </section>


                    {% include 'aptiv_templates/__call_section.html' %}

                 
                   


  <!-- footer section start -->
  {% include 'aptiv_templates/_footer.html' %}
  <!-- footer section end -->
      </div>
      </div>
   
           
          
      
      
      {% endblock %}
      