
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
          
            
            <div class="col-lg-10 main-sections">
                          <!-- hero slider section start -->

               
        <section class="hero-slider  hero-transparent-bg grey-bg fix" style="background-position: center;background-size: cover;">
            <div class="overlay">
            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                <!-- single slider item start -->
                <div class="hero-single-slide">
                    <div class="hero-slider-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-12 col-sm-6">
                                    <div class="hero-slider-content">
                                        <div class="hero-content">
                                        <h1 class="slide-title" style="color:white;">Locations</h1>
        
                                        <p>
                                            APTIV Bank has around 3 000 employees
                                            in more than 30 countries. We have become one of the leaders
                                            in asset management in Europe, with a large presence in Asia Pacific.</p>
                                    </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider item start -->
        
               
            </div>
        </div>
        </section>
        
        <!-- hero slider section end -->
        
        
        <section class="faq-main-wrapper section-padding">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <!-- <div class="section-title section-title--style_2 text-center mb-4">
                            <h2 class="h1 title">Freaquently Asked questions</h2>
                        </div> -->
                    </div>
                </div>
                <div class="row jus">
                    <div class="col-lg-10 offset-lg-1 location">
                        <div class="faq-inner regtabs">
                            <div class="accordion" id="general-question">
                                
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="ion-ribbon-b"></i>
                                               <img src="{% static 'aptiv_static/assets/img/icon/Europa_300x300_White_Transparence.png'%}" alt="" width="50"> <p class="ml-4">IRELAND</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/d/u/0/viewer?mid=1twDHTIFjUQ5s92Vv_qVJel6eZ5E&hl=en_US">
        
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management, Grand Canal Dock, Dubin, Ireland, Headquaters</p>
                                             
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Asia_300x300_White_Tranparence.png'%}  " alt="" width="50"> <p class="ml-4">AUSTRIA</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/place/Geb%C3%A4ude+G,+Am+Europl.+2,+1120+Wien,+Austria/data=!4m2!3m1!1s0x476da8416ec07227:0x670e6b7d49c15cc7?sa=X&ved=2ahUKEwi22-GTtor_AhWTd8AKHaEED0kQ8gF6BAgIEAI">
        
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management , Am Europl. 2, 1120 Wien, Austria</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                                <i class="ion-university"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Americas_300x300_White_Transparence.png'%} " alt="" width="50"> <p class="ml-4">FINLAND</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/contrib/112528700033148263528/photos/@60.1711025,24.9436191,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">
        
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#general-question">
                                            <div class="card-body">
                                               <p>APTIV BANK asset Management, Mikonkatu 13 A, 00100 Helsinki, Finland</p>
                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingfive">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Africa_300x300_White_Transparence.png'%}" alt="" width="50"> <p class="ml-4">FRANCE</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/place/Servcorp+10+Avenue+Kl%C3%A9ber+-+Location+de+bureau+%26+domiciliation+d'entreprise/@48.8719241,2.2934444,15z/data=!4m2!3m1!1s0x0:0x170b674cb9b8ac1?sa=X&ved=2ahUKEwi425qbuIr_AhUlnFwKHc8EDnUQ_BJ6BAhDEAg">
        
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management, Rez-de -chaussée, 10 Av. Kléber 6e étage, 75116 Paris, France</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingfive">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFour">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Africa_300x300_White_Transparence.png'%}" alt="" width="50"> <p class="ml-4">GERMANY</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/dir/5.4827662,7.5355564/WeWork+-+Kreuzberg+-+Private+B%C3%BCrofl%C3%A4chen+und+Coworking,+Stresemannstra%C3%9Fe+123,+10963+Berlin,+Germany/@27.7679653,-13.3981592,4z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x47a851cc1089ecfd:0x5116b03157895e5b!2m2!1d13.3779834!2d52.5074645">
        
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK Asset management, Berlin branch, Stresemannstraße 123, 10963 Berlin, Germany</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingfive">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseFour">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Africa_300x300_White_Transparence.png'%}" alt="" width="50"> <p class="ml-4">DUBIA</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/place/Marasi+Dr+-+Business+Bay+-+Dubai+-+United+Arab+Emirates/@25.1856887,55.2742299,17z/data=!3m1!4b1!4m6!3m5!1s0x3e5f682d8a9468f7:0x5eb73dd46aa3b4f!8m2!3d25.1856887!4d55.2742299!16s%2Fg%2F12hnw1pyd">
        
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management 57P8+RRV.Marasi Dr Business Bay-Dubia, United Arab Emirate...Map of the binary tower</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingfive">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseFour">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Africa_300x300_White_Transparence.png'%}" alt="" width="50"> <p class="ml-4">TURKIYE</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/contrib/109203268823522727630/photos/@40.179944,28.788488,17z/data=!3m1!4b1!4m3!8m2!3m1!1e1">
        
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management Hasanağa OSB Mah, Hosab Cd. No:13, 16159 Organize Sanayi Bölgesi/Nilüfer/Bursa, Türkiye</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseTwo">
                                                <i class="ion-android-car"></i>
                                                <img src="{% static 'aptiv_static/assets/img/icon/Asia_300x300_White_Tranparence.png'%}" alt="" width="50"> <p class="ml-4">BELGIUM</p>
                                            </button>
                                        </h5>
                                    </div>
        
                                    <a href="https://www.google.com/maps/dir/5.4827662,7.5355564/belgium,+%C3%89tages+11+et+12+Bastion+Tower+5,+Marsveldplein,+1050+Brussel,+Belgium+map/@26.9545418,-15.584797,4z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x47c3c48674b5bc77:0x7c8c150acf6bc2dc!2m2!1d4.3629215!2d50.8383027">
        
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>APTIV BANK asset management belgium, Étages 11 et 12 Bastion Tower 5, Marsveldplein, 1050 Brussel, Belgium</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
        
                                
                              
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        
      <!-- footer section start -->
{% include 'aptiv_templates/_footer.html' %}
<!-- footer section end -->
    </div>
    </div>
 
         
        
    
    
    {% endblock %}
    
      

        
     
   

