
{% extends 'aptiv_templates/base.html' %}
{% load static %}
    {% block content %}



    <!-- Start Header Area -->
   

    {% include 'aptiv_templates/_header.html' %}
   
            

            {% include 'aptiv_templates/_side__nav.html' %}
            
                <div class="col-lg-10 main-sections">
                    <!-- hero slider section start -->

                    <section class="hero-slider  hero-transparent-bg grey-bg fix" style="background: linear-gradient(rgba(7, 204, 10, 0.7), rgba(8, 237, 11, 0.7)), url({% static 'aptiv_static//assets/img/banner/rea.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center;">
                        <div class="overlay">
                            <div class="hero-slider-active slick-arrow-style  slick-dot-style">
                                <!-- single slider item start -->
                                <div class="hero-single-slide">
                                    <div class="hero-slider-item">
                                        <div class="container">
                                            <div class="row align-items-center">
                                                <div class="col-xl-12 col-sm-6">
                                                    <div class="hero-slider-content">
                                                        <div class="hero-content">
                                                            <h1 class="slide-title"
                                                                style="color:white;width: 100%;font-weight: 400;">
                                                               Real Estate Market
                                                            </h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xl-7 col-sm-6">
                                    <div class="slider-thumb moving-vertical">
                                        <img src="assets/img/slider/slider-thumb1.png" alt="slider thumb">
                                    </div>
                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider item start -->


                            </div>
                        </div>
                    </section>

                    <!-- hero slider section end -->

                    <section class="product-section pb-5 pt-5 mt-4" >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-11 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b> Bespoke support for investment transactions across Europe</b>
                                </p>


                                <p class="pb-3">
                                    Europe is an attractive region for commercial real estate investment. 
                                    One of the strengths of the European commercial real estate market has been the amount 
                                    of capital moving in between markets and flowing into Europe. 
                                    The amount of cross-border investments has been growing for the last 10 years to reach a 
                                    share of nearly half the investment volume in Europe today
                                </p>

                                </div>
                          
                        </div>
                    </div>
                    </section>

                    <section class="product-section pb-5 pt-4 " >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b> A structure adapted to all sources and origins of capital</b>
                                </p>


                                <p class="pb-3">
                                    Amongst foreign investors, European investors remain the most represented 
                                    source of cross-border investment (45% on average over the past ten years). 
                                    Capital flows coming from the Americas are another solid source for the European 
                                    investment market (26%). However, new investors are emerging across the European 
                                    real estate market. Indeed, Asian investors have shown a growing interest in Europe 
                                    and capital flows from Asia (8%) increased by almost fivefold over the last 10 years, 
                                    while Middle East investors are key players with a 6% share. The International Investment 
                                    Group is set up to accompany investors from these regions 
                                    in their real estate strategies across Europe.
                                </p>

                                </div>

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b>A single “one stop shop” for your cross-border investments</b>
                                </p>


                                <p class="pb-3">
                                    As a dedicated point of contact for your cross-border transactions, 
                                    we offer you a full range of services. We coordinate the actions of local brokers, 
                                    and represent you within BNP Paribas Real Estate to deliver the best quality of service 
                                    for all your cross-border transactions, in all asset types & strategies
                                </p>

                                </div>

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b>A team dedicated to international investors</b>
                                </p>


                                <p class="pb-3">
                                    The International Investment Group (IIG) team is your trusted partner and fulltime 
                                    contact for supporting your capital flows throughout Europe. Our team of 30 professionals 
                                    is fully dedicated to cross-border investment, 
                                    with a deep understanding of our clients’ needs across Europe.
                                </p>

                                </div>
                          
                        </div>
                    </div>
                    </section>


                    

                    <section class="product-section pb-4 " >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk1 mb-0">
                                   Key Figure
                                </p>

                              <p><b style="font-size: 2rem;color: #006b38;">€28.7bn</b></p>
                              <p>IN COMMERCIAL REAL ESTATE INVESTMENT TRANSACTED (IN 2020</p>
                                </div>
                          
                        </div>
                    </div>
                    </section>


                    
                    <section class="product-section pb-5 pt-5 mt-4" >
                        <div class="container">
                        <div class="row">
        

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b> Adapting your real estate investment strategy</b>
                                </p>


                                <p class="pb-3">
                                    With access to international real estate opportunities tailored to your risk profile 
                                    and investment strategy, our teams assist you in the acquisition of assets outside your domestic market, 
                                    including on and off market opportunities and development projects.
                                </p>

                                <p class="pb-3">
                                    We can sell your real estate outside your domestic market. We work with local investment 
                                    teams to ensure an efficient 
                                    marketing of your property and maximise its value outside your home market.
                                </p>

                                <p class="pb-3">
                                   We can sell your real estate domestically and widen your target group to 
                                   foreign investors. We have global access to privileged 
                                   clients to help you widen your target investor pool.
                                </p>

                                </div>

                            <div class="col-lg-9 mt-5 wow fadeInUp">
                                <p class="talk mb-3">
                                   <b>Post-transaction</b>
                                </p>
                                <p class="pb-3">
                                    Because our partnership doesn’t stop when the transaction is completed, 
                                    IIG will also be your privileged point of contact for complementary services.
                                </p>

                                </div>

                          
                        </div>
                    </div>
                    </section>

                 

                   




                    <section class="product-section pb-5 pt-5 mt-4 mb-5" style="background-color: #e8e8e8;">
                        <div class="container text-center">
                       <h4 class="talk1 pb-4">Start investing today</h4>
                     
                   
                    <a onclick="location.href='{% url 'signup' %}'" href="#" class="btn btn-hero">Open an Account</a>
                    </div>
                    </section> 


                    {% include 'aptiv_templates/__call_section.html' %}


                    <section class="product-section pb-5 pt-5" >
                        <div class="container">
                            <h5 class="talk1 pb-4">Common Questions</h5>
                          
                            <div class="faq-inner regtabs">
                                <div class="accordion" id="general-question">

                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="ion-ribbon-b"></i>
                                                    Why have cryptocurrencies like Bitcoin become so popular?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseOne" class="collapse sho" aria-labelledby="headingOne" data-parent="#general-question">
                                            <div class="card-body">
                                                <p class="p-3">
                                                    News about Bitcoin and other cryptocurrencies have been impossible to 
                                                    ignore. Investors hear news about overnight millionaires who lose their 
                                                    fortunes just as quickly. For example, a single bitcoin ranged in price 
                                                    from $1,000 in early 2017 to a high of over $66,000 in October 2021, 
                                                    with intense volatility in between. 
                                                    Like many new technologies or products, cryptocurrency has attracted 
                                                    adherents interested in innovation and the perceived absence of 
                                                    governmental control. Traders saw it as an alternative to traditional 
                                                    investments such as stocks, bonds, and cash, and trading momentum led 
                                                    to a rising, if highly volatile, price. All of this attracted media 
                                                    attention, which drove mainstream awareness and, ultimately, increasing 
                                                    acceptance. Major companies, including Microsoft, PayPal, 
                                                    and Overstock now accept Bitcoin as a form of payment.
                                            </p>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                                    <i class="ion-android-car"></i>
                                                    Are cryptocurrencies safe investments?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Cryptocurrencies are speculative investments, with significant volatility of cryptocurrency prices and the prices of indirect investments that have exposure to the cryptocurrency market. Cryptocurrency doesn't fit within traditional asset allocation models, as it is neither a traditional commodity, such as gold, nor a traditional currency. Its volatility is driven primarily by supply and demand, not inherent value. Bitcoin, for example, doesn't have earnings or revenues. It doesn’t have a 
                                                    price-to-earnings ratio, price-to-sales ratio, or book value. Traditional value metrics don't apply, so there are no methods for assessing its value that we endorse or find persuasive beyond the trading value. Considering its volatility and the possibility that the entire value of a cryptocurrency investment could disappear, investors who don’t think they could handle the market swings might want to steer clear.
                                                    There is also cryptocurrency risk besides volatility, as no regulatory infrastructure is in place for cryptocurrencies. Nothing exists yet to back you up like the Federal Deposit Insurance Corporation does for U.S. bank customers. That means investors are entirely responsible for the security of any cryptocurrency spot holdings. The SEC has noted that with cryptocurrencies, there is "substantially less investor protection than in our traditional securities markets, with correspondingly greater opportunities for fraud and manipulation."
                                            </p>       
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                                    <i class="ion-university"></i>
                                                   
                                                    Can I buy and sell individual cryptocurrencies directly in my Schwab account?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Though you can get exposure to cryptocurrencies in multiple ways at Schwab—trusts, futures, ETFs, and individual equities—you cannot currently buy or sell individual cryptocurrencies directly in a Schwab account. 
                                                     We understand there is some client interest and engagement in cryptocurrencies, and we are looking closely and cautiously at this space. Clarity from regulators will be important before we consider offering a retail cryptocurrency experience. If we do, you can expect it to be a great value, designed to support client need and surrounded by the advice and education our 
                                                    clients have come to expect and deserve from us. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingfive">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                                    <i class="ion-android-car"></i>
                                                    Can I transfer money to Schwab using cryptocurrency?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingfive" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    No, Schwab does not accept cryptocurrency deposits, nor do we accept or disburse 
                                                    cryptocurrencies for settlement of securities or futures transactions. 
                                            </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix">
                                                    <i class="ion-android-car"></i>
                                                    Are there Cryptocurrency ETFs?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    
                                                    While several investment firms have submitted applications to the SEC for ETFs that hold cryptocurrency directly, none have been approved to trade in U.S. markets. Some available ETF products provide exposure to companies that are focused on servicing the cryptocurrency market and digital assets. 
 
                                                    <br>
Schwab Asset Management offers the Schwab Crypto Thematic ETF that provides global exposure to companies that may benefit from the development or utilization of cryptocurrencies and other digital assets, and the business activities connected to blockchain and other distributed ledger technology. This ETF does not invest directly in any cryptocurrency or digital asset.
                                                    <br>

These ETFs can be found in the Morningstar categories "Sector-Miscellaneous" and "Digital Assets" using Schwab's ETF Fund Finder tool.
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-controls="collapseSeven">
                                                    <i class="ion-android-car"></i>
                                                    Do investors pay taxes when buying or selling cryptocurrency?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    The IRS treats cryptocurrency as property, not currency. 
                                                    Transactions in cryptocurrency spot markets are thus considered taxable by 
                                                    the Internal Revenue Service (IRS) whenever a taxable event occurs, such as 
                                                    selling cryptocurrency for a fiat currency (i.e., U.S. Dollars, Euros, etc.) or when traded for another asset. Investors are responsible for tracking cost basis, gains, and other reporting. If you have questions or concerns about the potential tax implications of transacting in cryptocurrencies, 
                                                    you should refer to this IRS publication or consult with a tax advisor.
                                            </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-header" id="headingEight">
                                            <h5 class="mb-0">
                                                <button class="accordio-heading" type="button" data-toggle="collapse" data-target="#collapseEight" aria-controls="collapseEight">
                                                    <i class="ion-android-car"></i>
                                                    What's the difference between Bitcoin and blockchain?
                                                </button>
                                            </h5>
                                        </div>
    
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#general-question">
                                            <div class="card-body">
                                                <p>
                                                    Blockchain is the underlying technology that supports cryptocurrencies like Bitcoin. 
                                                    It is an open-source, public record-keeping system operating on a decentralized computer 
                                                    network that records transactions between parties in a verifiable and permanent way. 
                                                    Blockchain provides accountability, as the records are intended to be immutable, which 
                                                    presents potential applications for many businesses. While blockchain has often been associated with 
                                                    cryptocurrency, it has many potential uses beyond payments, including smart contracts, supply chain management, 
                                                    and financial services. Note that ownership of Bitcoin or other cryptocurrencies is not an investment in blockchain, 
                                                    the technology, or its current or future uses.
                                            </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                          
                    </div>
                    </section>


                 
                   
       
      

        
      <!-- footer section start -->
      {% include 'aptiv_templates/_footer.html' %}
      <!-- footer section end -->
          </div>
          </div>
       
               
              
          
          
          {% endblock %}
          
            